* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: Montserrat;
    text-align: center;
    margin: 0 auto;
    width: 1145px;
}
.navbar li {
    display: inline-block;
}
.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}
.navbar {
    list-style: none;
    margin: 25.5px auto 25.5px;
}
.element-navbar-home {
    margin-right: 72px;
}
.element-navbar-photoapp {
    margin-right: 72px;
}
.element-navbar-design {
    margin-right: 50px;
}
.picture {
    width: 100%;
    margin-bottom: 49px;
}
.title {
    margin-bottom: 38px;
    text-transform: uppercase;
}
.title-content {
    font-style: normal;
    font-family: Montserrat;
    width: 1145px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0 auto 28px;
}
.btn {
    width: 191px;
    margin: 38px auto 82px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px 41.5px 17px 40.5px;
    border-color : #FF0000;
    border-radius: 4px;
}
.footer-box {
    text-align: right;
    padding-right: 105px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    font-weight: bold;
    margin-bottom:  29px;
} 