body {
  background: url(../image/bgd.jpg) no-repeat;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-size: cover;
  height: 100vh;
}

a {
  color: #ffffff;
}

button {
  width: 100%;
  height: 100%;
}

/*_____________________________________ HEADER__________________________________________ */

.header {
  display: flex;
  justify-content: space-around;
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__title {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.header__title-link:hover,
.color-accent:hover {
  color: rgb(2, 126, 62);
}

.header__menu {
  display: flex;
  align-items: center;
  ;
}

.header__link-svg {
  margin: 8px 25px 8px 0;
}

.header__link-svg:hover {
  fill: rgb(2, 126, 62);
}

.header__text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding-left: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}



/*_____________________________________ FORMS__________________________________________ */


.forms {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.forms__form {
  width: 444px;
  background-color: #ffffff;
}

.forms__container {
  position: relative;
  padding: 15px 60px 30px;
}

.forms__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: start;
  align-items: center;
  gap: 8px;
  row-gap: 0;
}

.forms__header::before {
  position: absolute;
  left: 0;
  top: 31px;
  content: url(../image/shape.jpg);
}

.forms__header-title {
  margin: 0;
  margin: 15px 0;
  justify-self: start;
  grid-area: 1/1/1/2;
  color: rgba(67, 67, 67, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.forms__header-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.forms__header-log-in {
  align-content: end;
  justify-self: end;
  color: rgba(60, 184, 120, 1);
}

.forms__header-svg-fb {
  margin-left: 10px;
}

.forms__header-svg-g {
  margin: 12px 15px auto 0;
}

.forms__header-facebook {
  background-color: rgba(48, 93, 184, 1);
}

.forms__header-facebook:hover {
  background-color: rgba(2, 34, 99, 1);
}

.forms__header-google {
  background-color: rgba(223, 74, 50, 1);
}

.forms__header-google:hover {
  background-color: rgba(171, 31, 9, 1);
}

.forms__header-button-text {
  padding: 10px 18px 10px 0px;
}

.forms__header-button-text::before {
  position: absolute;
  bottom: 10px;
  left: 48px;
  content: "";
  display: inline-block;
  border-left: 1px solid #0a162f;
  opacity: 0.1;
  padding-right: 18px;
  width: 1px;
  height: 28px;
}

.forms__header-button-text-fb {
  padding-left: 25px;
}

.forms__subline-text::after,
.forms__subline-text::before {
  content: "";
  display: inline-block;
  border-top: 1px solid rgba(242, 242, 242, 1);
  width: 147px;
  margin: 0px 3px 2px 3px;
}

.forms__subline-text {
  display: block;
  margin: 0;
  margin-top: 20px;
  color: #848484
}

.forms__subline {
  display: flex;
}

.forms__input {
  width: 100%;
  padding: 15px 20px;
  margin: 6px 0;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 4px;
  outline: none;
}

.forms__input:focus {
  border: none;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  padding-top: 16px;
  padding-bottom: 16px;
}

.forms__checkbox-link {
  color: rgba(60, 184, 120, 1);
}

.forms__checkbox {
  margin-top: 5px;
}

.forms__checkbox-span {
  color: #434343;
}

.forms__create-button {
  border: 1px solid #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-top: 20px;
  padding: 14px 0 11px;
  color: #fff;
  cursor: pointer;
}

.forms__header-log-in:hover,
.forms__checkbox-link:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

.forms__create-button:hover {
  background-color: rgba(1, 129, 63, 1);
}