.controler {
	margin-bottom: 20px;
}

.label {
	display: block;
	margin-bottom: .25rem;
}

.field {
	display: block;
	width: 75%;
	padding: 9px 24px;
	border: 2px solid rgb(96, 86, 86);
	border-radius: .25rem;

	&:invalid {
		border: 1px solid red;

	}

	&:focus {
		outline: none;
	}
}

.error {
	display: block;
	margin-top: 5px;
	color: rgb(148, 2, 2);
}