.header {
	padding: 15px;
	border-bottom: 4px solid orangered;
}

.inner {
	display: flex;
	max-width: 1460px;
	margin: 0 auto;
	align-items: center;
}

.title {
	font-weight: 900;
	font-size: 25px;
}

.counters {
	margin-left: auto;
	display: flex;
	gap: 20px;
}