@mixin pictureSizeTablet {
  width: 249px;
  height: 249px;
}

@mixin pictureSizeDesktop {
  width: 285px;
  height: 285px;
}

@mixin title-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}