@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";

.footer {
  display: flex;
  background: #000000;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  @include title-section;
  margin-top: 38px;
  background: #000000;
  color: #FEFEFE;

  @media (min-width: $tablet-bp) {
    margin-top: 57px;
  }

  @media (min-width: $desktop-bp) {
    margin-top: 66px;
  }
}

.footer__text-wrapper {
  text-align: center;
  width: 300px;
  margin-bottom: 26px;

  @media (min-width: $tablet-bp) {
    margin-bottom: 37px;
    width: 684px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;

  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 28px;
  }
}

.footer__icons-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet-bp) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-bp) {
    margin-bottom: 34px;
  }

  & img {
    cursor: pointer;
  }
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;

  @media (min-width: $tablet-bp) {
    display: inline;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-bp) {
    margin-bottom: 70px;
  }
}

.footer__text-no-mobile {
  display: none;

  @media (min-width: $tablet-bp) {
    display: inline;
  }
}

.footer__contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;

  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 28px;
  }
}