@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";

.header {
  padding: 83px 0 38px;
  position: relative;

  @media (min-width: $tablet-bp) {
    padding-top: 0;
  }
}

.header__button-burger {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 43px;
  height: 37px;
  background: black;
  background-image: url("../../../dist/images/menu-button.png");
  cursor: pointer;

  @media (min-width: $tablet-bp) {
    display: none;
  }

  @media (min-width: $desktop-bp) {
    display: none;
  }
}

.header__button-cancel {
  background-image: url("../../../dist/images/menu-button (1).png");
}

.header__list-mobile {
  display: none;
  position: absolute;
  width: 182px;
  top: 60px;
  right: 23px;
  background: #F5F5F5;

  @media (min-width: $tablet-bp) {
    display: none;
  }
}

.header__list-mobile-item {
  padding: 6px 12px;
  cursor: pointer;
  & a {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }

  &:hover {
    background: #E5E5E5;
  }

  @media (min-width: $tablet-bp) {
    display: none;
  }

}

.header__list {
  display: none;

  @media (min-width: $tablet-bp) {
    position: static;
    width: 78%;
    padding: 41px 84px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-bp) {
    width: 70%;
    padding: 41px 180px;
    position: static;
    display: flex;
    justify-content: space-around;
  }
}

.header__list-item a {
  padding: 6px 12px;
  cursor: pointer;
  color: #4E4E4E;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;

  &:hover {
    background: #E5E5E5;
  }

  @media (min-width: $tablet-bp) {
  }
}

.header__list-item-blue a {
  color: $blu-text;
}

.header__top-image {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/intro/intro-m.png");

  @media (min-width: $tablet-bp) {
    height: 361px;
    background-image: url("../images/intro/intro-t.png");
  }

  @media (min-width: $desktop-bp) {
    height: 550px;
    background-image: url("../images/intro/intro-d.png");
  }
}