@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";
.insta {
  width: 100%;
  @media (min-width: $tablet-bp) {
    background-color: rgba(236, 235, 229, 0.533);
  }
}

.insta__title-wrapper {
  padding-top: 47px;

  @media (min-width: $tablet-bp) {
    display: flex;
    justify-content: space-between;
  }
}

.insta__title {
  @include title-section;
  color: $main-color;
  margin-bottom: 13px;

  @media (min-width: $tablet-bp) {
    margin-bottom: 35px;
    font-size: 16px;
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.insta__title-text {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-color;
    cursor: pointer;
  }
}

.insta__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9px;
  padding-bottom: 42px;
  @media (min-width: $tablet-bp) {
    padding-bottom: 50px;
  }
}

#insta-image-1 {
  background-image: url('../images/insta/1-m.png');
  width: 301px;
  height: 301px;
  @media (min-width: $tablet-bp) {
    background-image: url('../images/insta/1-t.png');
    @include pictureSizeTablet;
  }
  @media (min-width: $desktop-bp) {
    background-image: url('../images/insta/1-d.png');
    @include pictureSizeDesktop;
  }
}

#insta-image-2 {

  @media (min-width: $tablet-bp) {
    background-image: url('../images/insta/2-t.png');
    @include pictureSizeTablet;
  }
  @media (min-width: $desktop-bp) {
    background-image: url('../images/insta/2-d.png');
    @include pictureSizeDesktop;
  }
}

#insta-image-3 {
  @media (min-width: $tablet-bp) {
    background-image: url('../images/insta/3-t.png');
    @include pictureSizeTablet;
  }
  @media (min-width: $desktop-bp) {
    background-image: url('../images/insta/3-d.png');
    @include pictureSizeDesktop;
  }
}

#insta-image-4 {
  @media (min-width: $desktop-bp) {
    background-image: url('../images/insta/4-d.png');
    @include pictureSizeDesktop;
  }
}