@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";

.posts__title {
  @include title-section;
  margin-top: 38px;
  color: $main-color;
  margin-bottom: 24px;
  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
}

.posts__wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  margin-bottom: 68px;

  @media (min-width: $tablet-bp) {
    gap: 40px;
  }

  @media (min-width: $desktop-bp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 49px;
  }
}

.posts__post {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;

  @media (min-width: $tablet-bp ) {
    flex-wrap: nowrap;   
  }

  @media (min-width: $desktop-bp) {
    flex-direction: row;
    gap: 13px;
    flex-basis: 250px;
  }
}

.mobile-display-none {
  display: none;

  @media (min-width: $tablet-bp) {
    display: flex;
  }
}

.posts__post-text {
  display: none;

  @media (min-width: $tablet-bp) {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
}

.posts__post-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
}

.posts__post-category {
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
  @media (min-width: $tablet-bp) {
    font-size: 12px;
  }
}