.card {
	background: white;
	max-width: 250px;
	padding: 20px 10px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.imgContainer {
	height: 100%;
	max-height: 300px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.title {
	text-align: center;
	margin: .5em 0 .25em;
	font-size: 16px;
	margin-bottom: 40px;
}

.mainContent {
	font-size: 14px;
	margin-bottom: 10px;
}

.color {
	display: block;

	span {
		font-weight: 500;
	}
}

.id {
	display: block;
	margin-left: auto;
	margin-top: 5px;
	font-size: 10px;
	color: rgb(90, 90, 90);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;

	font-size: 18px;
}

.price {
	font-weight: bold;

	&::after {
		content: ' грн.';
	}
}

.addToFavouriteButton {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 35px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: rgb(226, 155, 0);

	transition: background-color .2s;

	&:hover {
		background-color: rgba(0, 0, 0, .1);
	}
}

.addToCartButton {
	font-size: 14px;
	padding: .75em;
	background-color: rgba(0, 0, 0, .7);
	border: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;

	transition: background-color .2s;

	&:hover {
		background-color: rgba(0, 0, 0, .8);
	}
}