* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    padding-top: 528px;
    padding-bottom: 133px;
}

.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
}

.hero-slogan {
    background-color: rgba(0,0,0, 0.5);
    padding: 38px 31px; 
    text-transform: uppercase;
   
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    border: 2px solid #FFFFFF;
    width: max-content;
}


.about  {
    text-align: center;
    font-family: Montserrat;
}


.about-title {
font-weight: bold;
font-size: 22px;
margin-bottom: 28px;
color: #333333;
text-transform: uppercase;
}

.about-subtitle {
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
  margin-bottom: 48px;
}

.about-line {
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
    width: 60px;
    height: 3px;
    border: none;
    margin: 0 auto;
    margin-bottom: 50px;    
}
.about-navigation {
   padding: 22px 0; 
   border-bottom: 3px solid #F1B128;
   text-align: left;
}

.about-navigation-title-link {
display: inline-block;
font-size: 28px;
text-transform: uppercase;
color: #F48E0B;
font-weight: bold;
text-align: left;
margin-right: 200px;
}
.about-menu {
    display: inline-block;

}
.about-menu-item {

    display: inline-block;
    margin-left: 69px;
    text-align: right;
}
.about-menu-link {
    text-transform: uppercase;
    font-style: 18px;
    line-height: 22px;
    color: #3D3D3D;
}




              /* CONSULTING */



.consulting {
display: flex;
justify-content: space-between;
}

.consulting-portfolio {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px)/2);
    column-gap: 30px;
    row-gap: 22px;
}
.consulting-info {
    width: calc(50% - 15px);
    /* align-items: start; */

}
.consulting-info-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 22px;

}
.consulting-info-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-bottom: 36px;
}
.consulting-info-link {
    
    padding: 19px 27px;
    background-color: #F1AD1D;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    transition: 0.5s;
}
.consulting-info-link:hover {
    background-color: #000;
    color: #F1B128;
}



/*                          GOODS */


.goods {
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 1000px;
/* width: 1170px;
margin: 0 auto; */
}
.goods-item {
border-bottom: 2px solid #333;
padding-bottom: 5px;
flex-basis: 370px;
width: 370px;
margin-bottom: 31px;
}
.goods-item-image {
    margin-bottom: 7px;
}

.goods-item-header {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.goods-item-pencil {
    background: #333333;
    padding: 11px;
}
.goods-item-title {
    margin-left: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.goods-item-text {
    padding-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
}
.goods-item-footer {
    display: flex;
    justify-content: space-between;
}
.goods-item-date,
.goods-item-link {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;
}



/* WORKS */



.works-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
    column-gap: 14px;
}

.works-item {
    font-size: 14px;
    padding: 14px 41px;
    border: 1px solid;
    transition: 0.5s;

}
.works-item:hover {
   background-color: #333;
   color: #F1AD1D;
}

.works-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.works-hover {
    padding: 51px 13px 37px;
    text-align: center;
    border: 1px solid black;
   
}
.works-hover-title {
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin-bottom: 25px;
}
.works-hover-line {
    border: none;
    width: 64px;
    height: 3px;
    margin: 0 auto 28px;
    background: #F1AD1D;
}
.works-hover-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 27px;
}
.works-hover-link {
    display: inline-block;
    padding: 12px 33px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: white;
    background-color: #F1AD1D;
}
.works-wrapper-item {
    position: relative;

}

.works-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    box-sizing: border-box;
}
.works-wrapper-item:hover > img {
    top: 0;
}
.works-wrapper-item:hover > .works-hover {
    opacity: 1;
    /* pointer-events: all;
} */



.margin-block {
    margin-top: 150px;
    margin-bottom: 150px;
}


.orange-text {
    color: #F48E0B;
}
