* {
    margin: 0;
    padding: 0;
}
.container {
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%;
}
html {
    overflow: hidden;
}

.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}
.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.parallax-section_1::before {
    background-image: url(https://www.desktopbackground.org/download/3840x2160/2010/06/01/26317_download-wallpapers-3840x2400-marmalade-sugar-candy-backgrounds_3840x2400_h.jpg);
}

            /* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;    
}  
.navbar-logo {
    margin: 20px 0 20px 29px;
    display: flex;
    align-items: center;
}
.navbar-logo-text {
    margin-left: 27px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
}
.navbar-menu-item {
    margin-right: 35px;
}
.navbar-menu-item-link {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar-menu-item-link:hover {
    color: #14B9D5;
}

.search {
    padding: 26px;
    background: #000000;
}
.search img{
    cursor: pointer;
}
.navbar-content {
    padding-top: 164px;
    padding-bottom: 74px;
    text-align: center;
}
.navbar-content-title {
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.btn {
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.btn-left {
    margin-right: 20px;
    padding: 16px 19px 17px 19px;
    background: #89CA62;
    border: 1px solid #89CA62 ;
    border-radius: 4px;
}
.btn-right {
    padding: 16px 30px 17px 30px;
    background: #14B9D5;
    border: 1px solid #14B9D5 ;
    border-radius: 4px;
}


            /* CONTAINER POSTS */


.title {
    padding-top: 49px;
    margin-bottom:35px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
}
.popular-posts {
    background: #F2F2F2;
}
.posts {
    padding-bottom: 72px;
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    align-content: center;
    max-height: 1100px;
}
.posts-item {
    margin:15px;
    width: 370px;
}
.posts-title {
    padding: 20px;
    text-align: center;
    background: #FFFFFF;
}
.title-article {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

            /* CONTAINER CLIENTS */


.parallax-content {
    background-image: url(./../images/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.clients-title {
    padding-top: 106px;
    margin-bottom: 87px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line {
    background: #18B4CF;
    width: 60px;
    height: 3px;
    border: none;
    margin: 0 auto;
    margin-bottom: 106px;
}
.clients-logo {
    padding-bottom: 191px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    grid-gap: 58px;
}

            /* SECTION RATED */

.rated {
    background: #FFFFFF;
}
.title-rated {
   margin-bottom: 50px;
}
.rated-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.rated-list-item {
    width: 100%;
}


                /* SECTION NEWS */

.news {
    background: #FFFFFF;
}
.news-title {
    margin-bottom: 50px;
}
.news-list {
    display: grid;
    grid-template-rows: auto;
    row-gap: 44px;
    column-gap: 60px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.container-news {
    width: 1168px;
    margin: 0 auto;
    padding-bottom: 77px;
}
.news-content {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    padding: 14px 14px 1px;
    background: #F2F2F2;
}
.news-item1 {
    grid-area: item1;
    display: flex;
}
.news-item2 {
    grid-area: item2;
}
.news-item3 {
    grid-area: item3;
}
.news-item4 {
    grid-area: item4;
}
.news-item5 {
    grid-area: item5;
}
.news-item6 {
    grid-area: item6;
}
.news-item7 {
    grid-area: item7;
}
.news-item8 {
    display: flex;
    grid-area: item8;
}
.small-article {
    text-align: center;
}
.title-article {
    margin-bottom: 15px;
}
.horizontal-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

            /* 'FOOTER' */


.footer-box {
    width: 100%;
    background-color: #000000;;
}    
.footer-box-container {
    width: 1168px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-box-text {
    padding: 30px 0;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}      
.footer-box-logo {
    display: flex;
    align-items: center;
    margin-left: auto;
}         
