body {
  margin: 0;
  background-image: url(https://img.freepik.com/premium-photo/3d-illustration-flag-of-ukraine-flag-ukraine-background-closeup-of-the-flag-of-the-ukraine_42071-2234.jpg?w=1380);
  background-repeat: no-repeat;
	background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.serch-id {
  width: 300px;
  margin-top: 40px;
  padding: 24px;
  font-size: 50px;
  background-color: rgb(202, 202, 36);
  color: rgb(34, 5, 151);
  border: 5px solid rgb(34, 5, 151);
  border-radius: 20px;
}

.user-info__item { 
  width: 270px;
  padding: 10px;
  text-align: center;
  background-color: rgb(202, 202, 36);
  color: rgb(34, 5, 151);
  border: 5px solid rgb(34, 5, 151);
  border-radius: 20px;
}
