.modalBackground {
	position: fixed;
	z-index: 1;
	inset: 0;
	background-color: rgb(0, 0, 0, 0.7);
}

.modal {
	max-width: 500px;
	min-width: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	border-radius: 5px;
	overflow: auto;
	background-color: rgb(251, 100, 36);
	z-index: 2;
}

.modalHeader {
	background-color: rgb(176, 61, 4);
	padding: 20px;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.moduleCloseButton {
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	color: #fff;
	padding: 0;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
	}
}

.modalBody {
	margin: 35px 0;
	p {
		text-align: center;
		padding: 25px;
		font-size: 16px;
	}
}

footer {
	padding-bottom: 20px;
	div {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}