.controler {
	margin-bottom: 5px;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.field {
	display: block;
	width: 75%;
	padding: 9px 24px;
	border: 2px solid rgb(96, 86, 86);;
	border-radius: 5px;

	&:invalid {
		border: 2px solid red;

	}

	&:focus {
		outline: none;
	}
}

.error {
	display: block;
	margin-top: 10px;
	color: rgb(229, 45, 45);
}