.order {
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 10px;


	li {
		width: 83%;
		border: 2px solid rgb(96, 86, 86);
		border-radius: 5px;
		padding: 4px;
	}
}

.checkoutBtn {
	cursor: pointer;
	display: block;
	padding: 9px 24px;
	border: none;
	border-radius: .25rem;
	color: #fff;
	background-color: hsl(0, 0%, 31%);

	transition: background-color .2s;

	&:hover {
		background-color: hsl(0, 0%, 21%);
	}

	&:disabled {
		cursor: default;
		background-color: hsl(0, 0%, 51%);
	}
}

.footer {
	width: 85%;
	border-top: 2px solid rgb(231, 111, 36);
	margin-top: 10px;
	padding: 9px 0;
	display: flex;
	justify-content: space-between;
}

.total {
	font-size: 24px;

	span {
		font-weight: bold;
	}
}