/* * {
    margin: 0;
    padding: 0;
}

.root {
    width: 765px;
    margin: 0 auto;
}
.child {
    position: relative;
    padding: 20px 145px 20px 100px;

}
.child::before {
    content:"";
    width: 35px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 35px;
    top: 35px;

}
.child::after {
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    right: 70px;
    top: 35px;
}
.child:hover {
    display: none;
}

.child:hover+.hover-text {
    display: block;
} */


/* :root {
    --main-gradient: linear-gradient(90deg, #EC6F66
0%, #F3A183 100%)
}
.rewards {
    width: 900px;
    margin: 100px auto;
}
.rewards_title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-align: center;
    -webkit-background-clip: text;
    background-image: var(--main-gradient);
    color: transparent;
}
.rewards_wrapper {
    border-radius: 10px;
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.3);
    display: flex;
    column-gap: 2em;
}
.rewards-item {

}
.rewards-item-title {
    display: inline-block;
    padding: 22px 24px;
    background-image: var(--main-gradient);
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #F7F7FA;
    border-radius: 8px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

/* }
.rewards-item-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #031D5B;


}
.rewards-item-text {
    font-size: 16px;
    line-height: 28px;
    color: #3A3A44;
} */ 



/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #7cd2d7;
	font-family: 'Poppins', sans-serif;
}

.registr {
	background-color: #fff;
	height: 100vh;
	width: 70%;
	margin-left: auto;
	padding: 105px 150px;
	border-radius: 38px 0 0 38px;
}

.registr-title {
	font-weight: 600;
	font-size: 25px;
	line-height: 37px;
	letter-spacing: 0.04em;
	margin-bottom: 23px;
}

.registr-society {
	display: flex;
	align-items: center;
	column-gap: 25px;
}

.registr-society-link {
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #eaeaea;
	border-radius: 9px;
	/* p13 
	padding: 13px;
	display: flex;
	align-items: center;

	text-decoration: none;
	color: #000;
}

.registr-society-link::before {
	content: url(./img/google.png);
	margin-right: 13px;
}

.registr-society-link:last-child::before {
	content: url(./img/face.png);
}

.registr-divider {
	font-size: 18px;
	line-height: 27px;
	color: #919191;
	display: flex;
	align-items: center;
	margin-left: 30%;
    margin-top: 35px;
}

.registr-divider::after,
.registr-divider::before {
	content: '';
	width: 10px;
	height: 2px;
	background-color: #919191;
	margin-inline: 5px;
}

.registr-form {
    display: flex;
    flex-direction: column;
}

.registr-field {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-style: 15px;
} */








