ol, ul {
    list-style: none;
    }

.grid {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}


.item-div {
    width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: bisque;
}