@import "./base/reset";
@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";
@import "./components/header";
@import "./components/posts";
@import "./components/insta";
@import "./components/footer";

body{
  font-family: sans-serif;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  @media (min-width: $tablet-bp) {
    max-width: 768px;
  }
  @media (min-width: $desktop-bp) {
    max-width: 1200px;
  }
}