* {
    margin: 0;
    padding: 0;
}
.container {
    font-family: sans-serif;
    margin: 0 auto;
    width: 1280px;
}
.navbar {
    margin-top: 63px;
}  
.navbar-logo {
    display: inline-block;
    font-size: 80px;
    line-height: 79px;
    margin-bottom: 38px;
}
.navbar-logo-blue {
    color: #1896df;
}

.navbar-menu { 
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    background: #35444F; 
}
.navbar-menu-item-left {
    border-left: 1px solid  #FFFFFF;
}
.navbar-menu-item {
    padding: 26px 40px 19px;
    border-right: 1px solid  #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    transition: 0.3s;
}
.navbar-menu-item:hover {
    background: #222F3A;
}
.navbar-menu-item a {
    color: #FFFFFF;
}
.aside-menu {
    border: 1px solid #000000;
    width: 344px;
    margin-bottom: 30px;
    height: max-content;
}
.aside-menu-item {
    padding: 27px 0 27px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    transition: 0.3s;
}
.aside-menu-item:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 60px;
}
.content-container {
    display: flex;
    justify-content: space-between;
}
.content {
    width: 885px;
}
.content-picture-border {
    height: 47.08vh;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.picture {
    transition: all 1s ease;
}
.picture:hover {
    cursor: pointer;
    height:475px;
    width: 450px;
}
.content-text {
    margin-bottom: 34px;
}
.content-text-last {
    margin-bottom: 54px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 8px 40px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-box {
    display: flex;
    justify-content: space-between;
    width: 875px;
}
.footer-box-item {
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 13px;
    transition: 0.3s;
}
.footer-box-item:hover {
    border-bottom: 1px solid #1896df;
    color: #1896df;
    padding-bottom: 12px;
}
.footer-text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}