.item {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
}

.img {
	flex: 1;
	max-width: 50px;
}

.title {
	flex: 1 1 auto;
}

.price {
	font-weight: bold;

	&::after {
		content: 'грн.';
	}
}

.deleteButton {
	flex: 0 0 auto;
	--size: 35px;
	padding: 5;
	width: var(--size);
	height: var(--size);
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color .2s;

	svg {
		display: block;
		width: 100%;
	}

	&:hover {
		background-color: rgb(0, 0, 0, .1);
	}
}