.holder {
	position: relative;
	z-index: 1;
}

.cartButton {
	position: relative;
	padding: 0;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	transition: background-color .2s;

	&:hover {
		background-color: rgb(0, 0, 0, .1);
	}

	&::after {
		content: attr(data-products-in-cart);
		position: absolute;
		top: 0;
		right: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		background-color: rgb(0, 0, 0);
	}
}

.infoModal {
	position: absolute;
	z-index: 10;
	top: 100%;
	right: 0;
	width: 350px;
}