* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.ticket {
    /* w800 */
    width: 800px;
    /* m150-auto */
    margin: 150px auto;
    /* p10 */
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f1c9;

    display: grid;
    grid-template-areas: 
    'title title title title title title title title'
    'passeger passeger passeger passeger passeger passeger platform platform'
    'depart depart depart arrive arrive arrive platform platform'
    'date date time time car seat platform platform';
}

.ticket-title {
    
    grid-area: title;
text-align: center;
background-color: black;
color: #f3f1c9;
font-weight: 900;


}
.ticket-depart {
    grid-area: depart;
}
.ticket-arrive {
    grid-area: arrive;
}
.ticket-date {
    grid-area: date;
}
.ticket-time {
    grid-area: time;
}
.ticket-car {
    grid-area: car;
}
.ticket-seat {
    grid-area: seat;
}
.ticket-platfrom {
    grid-area: platfrom;
}
.ticket > div {
    border: 1px solid black;
    padding: 16px;
}




.root {
      width: 800px;
      margin: 150px auto;
      padding: 20px;
      border-radius: 10px;
      background-color: #f3f1c9;
      display: grid;
      grid-template-areas: 
        'child1 child1 child2'
        'child1 child1 child4'
        'child3 child5 child4'
    }
.root-child1 {
    grid-area: child1;
    background-color: rgb(199, 20, 20);
}
.root-child2 {
    grid-area: child2;
    background-color: rgb(22, 207, 231);
}
.root-child3 {
    grid-area: child3;
    background-color: rgb(16, 241, 46);
}
.root-child4 {
    grid-area: child4;
    background-color: rgb(232, 15, 240);
}
.root-child5 {
    grid-area: child5;
    background-color: rgb(230, 97, 9);
}
.root > div {
    border: 1px solid black;
    padding: 16px;
}





















