* {
    margin: 0;
    padding: 0;
}
.backgroun-image-page {
    background: url(../images/background\ 1.png) no-repeat;
    width: 1366px !important;
    margin: 0 auto;
}
.container {
    font-family: 'Roboto';
    width: 1030px;
    margin: 0 auto;
}
.color-text {
    color:white;
}

                /* HEADER */

.title-top {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    padding: 3px 0;
    transition: 0.4s
}
.title-bottom {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 3px 0;
    transition: 0.4s
}
.mail-header {
    font-size: 18px;
    line-height: 18px;
    transition: 0.4s
}
.mail-header:hover {
    color: #F26522 !important;
}
.tel-header {
    font-size: 18px;
    line-height: 18px;
    transition: 0.4s
}
.tel-header:hover {
    color: #F26522 !important;
}
.logo-page {
    display: flex;
    cursor: pointer;
}
.logo {
    width: 53px;
    height: 47px;
    /* background-image: url(../images/logo1.svg); */

    background-repeat: no-repeat;
    background-position:center;
    padding: 5px 8px 9px 0;
    transition: 0.4s
}
.logo-page:hover .logo *  {

    fill: #F26522 !important;
}
.logo-page:hover .title-top  {
    color: #F26522 !important;
    
}
.logo-page:hover .title-bottom  {
    color: #F26522 !important;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 17px;
}
.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    color:#FFFFFF;
    background-color: rgb(25, 26, 26, 0.4);
    padding: 10px;
}


                /* article-MENU */


.article-menu-item {
    width: 300px;
    height: max-content;
}
.article-menu-item-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    border-right: 3px solid linear-gradient(white, black);
    border-left: 3px solid linear-gradient(white, black);
}
.article-menu-item-top {
    position: relative;
    overflow: hidden;
}
.article-menu-item-hover {
    box-sizing: border-box;
    width: 299px;
    background-color: #F26522;
    padding: 7px 37px 12px 16px;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: -60px;
    left: 0;
    transition: 0.5s;
}
.article-menu-item:hover .article-menu-item-hover {
    bottom: 4px;
}
.article-menu-item:hover .article-menu-item-title {
    color: #F26522;
}
.article-menu-item-title {
    font-size: 18px;
    line-height: 18px;
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.5s;
}
.hover-span-left-top {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 7px;
}
.hover-span-left-bottom {
    font-size: 20px;
    line-height: 20px;
}
.hover-span-right {
    font-size: 14px;
    line-height: 14px;
}
.hover-span-right::after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF; 
    position: absolute;
	bottom: 15px;
	right: 14px;
	transform: rotate(45deg);
}
.article-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 62px;
    grid-row-gap: 37px;
    margin-bottom: 49px;
}


            /* FOOTER */


.footer-box {
    width: max-content;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 15px;
    margin: 0 auto;
}

