.wrapper {
	display: flex;
	justify-content: center;
}

.formHolder {
	display: flex;
	justify-content: center;

	max-width: 700px;
}

.aside {
	flex: 0;
	padding-left: 20px;
	justify-content: end;
	border-left: 1px solid rgb(121, 121, 121);
}