body {
    background-image: url('https://img.freepik.com/premium-photo/starry-sky_99433-771.jpg?w=996');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    margin: 0 auto;
    width: 100%;
    color: bisque;
}

ul, li {
    list-style: none;
}

.container {
    padding: 50px;
    
}

.films__title {
    margin: 0 auto;
    text-align: center;
	  font-size: 60px;
    line-height: 60px;
}

.films__container {
    padding:24px;
}

.films__card {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 24px;
    padding: 0 24px;
    border: 2px solid bisque;
    border-radius: 6px;
}

.films__episodeId {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.films__text {
    padding-bottom: 20px;
}

.film__characters {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap
}



.character {
    margin: 6px;
    padding: 4px;
    border: 2px solid bisque;
    border-radius: 6px;
}

.middle {
    padding-left: 40%;
  }
  .bar {
    width: 15px;
    height: 25px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
      box-shadow:2px 10px 10px inset bisque;
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: bisque;
    }
    50% {
      transform: scaleY(1);
      background: rgb(211, 197, 43);
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }