body {
  margin: 0 auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.post__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  width: 500px;
  background-color: bisque;
  border: 1px solid grey;
  border-radius: 3px;
}

.post__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post__img {
  margin-right: 10px;
  background-image: url("https://i.pravatar.cc/300");
  background-repeat: no-repeat;
	background-size: cover;
  border-radius: 30px;
  width: 60px;
  height: 60px;
}

.user__name {
  margin-right: 20px;
}

.post__title {
  margin:0;
}

.post__title:first-letter{
  text-transform:uppercase;
}

.post__text:first-letter{
  text-transform:uppercase;
}

.create-new-post {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border: 4px solid black;
  border-radius: 3px;
  cursor: pointer;
  position: absolute; 
  top: 20px; 
  right: 5%;
}

.post__delete {
  cursor: pointer;
   position: absolute; 
   top: 20px; 
   right: 40px;
}

.post__delete:before, .post__delete:after {content: ""; position: absolute; width: 24px; height: 4px; background: black;}

.post__delete:before {transform: rotate(45deg);}

.post__delete:after {transform: rotate(-45deg);}

.post__edit {
  width: 35px;
  height: 30px;
  border: 4px solid black;
  border-radius: 3px;
  cursor: pointer;
  position: absolute; 
  top: 8px; 
  right: 45px;
}

.middle {
  margin-top: 50px;
  padding-left: 40%;
}
.bar {
  width: 40px;
  height: 100px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
    box-shadow:2px 100px 100px inset bisque;
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: bisque;
  }
  50% {
    transform: scaleY(1);
    background: rgb(211, 197, 43);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}


