.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(195, 180, 148);
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: 25px;
}

.container {
	padding: 25px;
}

.main {
	background-color: papayawhip;
}

.section__title {
	text-align: center;
}