.button {
	min-width: 120px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background-color: rgb(179, 170, 170);
	border: none;
	border-radius: 7px;
	cursor: pointer;

	&:hover {
		opacity: .75;
	}
}